body{
    /*font-size: 22px!important;*/
}



.main-wrapper{
    display:flex;
    /*width: 100vw;*/
    /*border: 1px solid red;*/
    /*border: 1px solid red;*/
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    flex-direction: column;
}

.main-wrapper2{
    /*display:flex;*/
    width: 100vw;
    height: 100%;
    /*border: 1px solid red;*/
    overflow-y: auto;
    overflow-x: hidden;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    /*border: 1px solid blue;*/
}

.login-item {
    /*border: 1px solid red;*/
    margin-top:1rem;
    display:block!important;
}

.paper{
    padding:20px;
}

.login-button{
    align-self: center;
}

.bottom-nav{
    width: 100vw;
    bottom:0;
}

.wrapper{
    display:flex;
    width: 100vw;
    min-height: 100%;
    justify-content: center;
    margin: 0 auto;
}

.gift-icon {
    width: 100% !important;
    height: 100% !important;
}

.logo {
    max-width: 200px;
    /*max-height:100px;*/
    /*border: 1px solid red;*/
    align-self: center;
    margin: 0 auto;
}

.logo  img{
    max-width: 100%;
    max-height: 100%;
}

.paper > .login-buttons{
    margin-top: 50px!important;
}

.home-wrapper {
    /*border: 1px solid black;*/
    width: 100vw;
    min-height: 100vh;
    position:absolute;
    z-index: -1;
}

.list-wrapper{
    display:flex;
    flex-flow: row wrap;
    position:relative;
    overflow-y: auto;
    overflow-x: hidden;
    /*border:1px solid blue;*/
}

.list-buttons{
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-self: flex-end;
    /*border:1px solid yellow;*/
    bottom:0px;
    margin-bottom: 20px;
}

.list{
    width:auto;
    overflow-y: auto;
    overflow-x: hidden;
    /*border:1px solid red;*/
}

.list-main-wrapper{
    /*border:1px solid black;*/
    height:100%;
    width:90%;
    overflow: hidden;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0 auto;
}